=begin
#Kinde Management API

# Provides endpoints to manage your Kinde Businesses.  ## Intro  ## How to use  1. [Set up and authorize a machine-to-machine (M2M) application](https://docs.kinde.com/developer-tools/kinde-api/connect-to-kinde-api/).  2. [Generate a test access token](https://docs.kinde.com/developer-tools/kinde-api/access-token-for-api/)  3. Test request any endpoint using the test token 

The version of the OpenAPI document: 1
Contact: support@kinde.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.4.0

=end

require 'cgi'

module KindeApi
  class BillingMeterUsageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create meter usage record
    # Create a new meter usage record  <div>   <code>create:meter_usage</code> </div> 
    # @param create_meter_usage_record_request [CreateMeterUsageRecordRequest] Meter usage record
    # @param [Hash] opts the optional parameters
    # @return [CreateMeterUsageRecordResponse]
    def create_meter_usage_record(create_meter_usage_record_request, opts = {})
      data, _status_code, _headers = create_meter_usage_record_with_http_info(create_meter_usage_record_request, opts)
      data
    end

    # Create meter usage record
    # Create a new meter usage record  &lt;div&gt;   &lt;code&gt;create:meter_usage&lt;/code&gt; &lt;/div&gt; 
    # @param create_meter_usage_record_request [CreateMeterUsageRecordRequest] Meter usage record
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateMeterUsageRecordResponse, Integer, Hash)>] CreateMeterUsageRecordResponse data, response status code and response headers
    def create_meter_usage_record_with_http_info(create_meter_usage_record_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingMeterUsageApi.create_meter_usage_record ...'
      end
      # verify the required parameter 'create_meter_usage_record_request' is set
      if @api_client.config.client_side_validation && create_meter_usage_record_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_meter_usage_record_request' when calling BillingMeterUsageApi.create_meter_usage_record"
      end
      # resource path
      local_var_path = '/api/v1/billing/meter_usage'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_meter_usage_record_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateMeterUsageRecordResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['kindeBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingMeterUsageApi.create_meter_usage_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingMeterUsageApi#create_meter_usage_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
