=begin
#Kinde Management API

# Provides endpoints to manage your Kinde Businesses.  ## Intro  ## How to use  1. [Set up and authorize a machine-to-machine (M2M) application](https://docs.kinde.com/developer-tools/kinde-api/connect-to-kinde-api/).  2. [Generate a test access token](https://docs.kinde.com/developer-tools/kinde-api/access-token-for-api/)  3. Test request any endpoint using the test token 

The version of the OpenAPI document: 1
Contact: support@kinde.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.4.0

=end

require 'cgi'

module KindeApi
  class BillingEntitlementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get billing entitlements
    # Returns all the entitlements a billing customer currently has access to  <div>   <code>read:billing_entitlements</code> </div> 
    # @param customer_id [String] The ID of the billing customer to retrieve entitlements for
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of results per page. Defaults to 10 if parameter not sent.
    # @option opts [String] :starting_after The ID of the billing entitlement to start after.
    # @option opts [String] :ending_before The ID of the billing entitlement to end before.
    # @option opts [String] :max_value When the maximum limit of an entitlement is null, this value is returned as the maximum limit
    # @option opts [String] :expand Specify additional plan data to retrieve. Use \&quot;plans\&quot;.
    # @return [GetBillingEntitlementsResponse]
    def get_billing_entitlements(customer_id, opts = {})
      data, _status_code, _headers = get_billing_entitlements_with_http_info(customer_id, opts)
      data
    end

    # Get billing entitlements
    # Returns all the entitlements a billing customer currently has access to  &lt;div&gt;   &lt;code&gt;read:billing_entitlements&lt;/code&gt; &lt;/div&gt; 
    # @param customer_id [String] The ID of the billing customer to retrieve entitlements for
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of results per page. Defaults to 10 if parameter not sent.
    # @option opts [String] :starting_after The ID of the billing entitlement to start after.
    # @option opts [String] :ending_before The ID of the billing entitlement to end before.
    # @option opts [String] :max_value When the maximum limit of an entitlement is null, this value is returned as the maximum limit
    # @option opts [String] :expand Specify additional plan data to retrieve. Use \&quot;plans\&quot;.
    # @return [Array<(GetBillingEntitlementsResponse, Integer, Hash)>] GetBillingEntitlementsResponse data, response status code and response headers
    def get_billing_entitlements_with_http_info(customer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingEntitlementsApi.get_billing_entitlements ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling BillingEntitlementsApi.get_billing_entitlements"
      end
      allowable_values = ["plans"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/billing/entitlements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customer_id'] = customer_id
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'max_value'] = opts[:'max_value'] if !opts[:'max_value'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBillingEntitlementsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['kindeBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingEntitlementsApi.get_billing_entitlements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingEntitlementsApi#get_billing_entitlements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
