=begin
#Kinde Management API

# Provides endpoints to manage your Kinde Businesses.  ## Intro  ## How to use  1. [Set up and authorize a machine-to-machine (M2M) application](https://docs.kinde.com/developer-tools/kinde-api/connect-to-kinde-api/).  2. [Generate a test access token](https://docs.kinde.com/developer-tools/kinde-api/access-token-for-api/)  3. Test request any endpoint using the test token 

The version of the OpenAPI document: 1
Contact: support@kinde.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.4.0

=end

require 'cgi'

module KindeApi
  class MFAApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Replace MFA Configuration
    # Replace MFA Configuration.  <div>   <code>update:mfa</code> </div> 
    # @param replace_mfa_request [ReplaceMFARequest] MFA details.
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def replace_mfa(replace_mfa_request, opts = {})
      data, _status_code, _headers = replace_mfa_with_http_info(replace_mfa_request, opts)
      data
    end

    # Replace MFA Configuration
    # Replace MFA Configuration.  &lt;div&gt;   &lt;code&gt;update:mfa&lt;/code&gt; &lt;/div&gt; 
    # @param replace_mfa_request [ReplaceMFARequest] MFA details.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def replace_mfa_with_http_info(replace_mfa_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MFAApi.replace_mfa ...'
      end
      # verify the required parameter 'replace_mfa_request' is set
      if @api_client.config.client_side_validation && replace_mfa_request.nil?
        fail ArgumentError, "Missing the required parameter 'replace_mfa_request' when calling MFAApi.replace_mfa"
      end
      # resource path
      local_var_path = '/api/v1/mfa'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(replace_mfa_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['kindeBearerAuth']

      new_options = opts.merge(
        :operation => :"MFAApi.replace_mfa",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MFAApi#replace_mfa\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
