=begin
#Kinde Management API

# Provides endpoints to manage your Kinde Businesses.  ## Intro  ## How to use  1. [Set up and authorize a machine-to-machine (M2M) application](https://docs.kinde.com/developer-tools/kinde-api/connect-to-kinde-api/).  2. [Generate a test access token](https://docs.kinde.com/developer-tools/kinde-api/access-token-for-api/)  3. Test request any endpoint using the test token 

The version of the OpenAPI document: 1
Contact: support@kinde.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.4.0

=end

require 'cgi'

module KindeApi
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search users
    # Search for users based on the provided query string. Set query to '*' to filter by other parameters only. The number of records to return at a time can be controlled using the `page_size` query string parameter.  <div>   <code>read:users</code> </div> 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of results per page. Defaults to 10 if parameter not sent.
    # @option opts [String] :query Search the users by email or name. Use &#39;*&#39; to search all.
    # @option opts [Hash<String, Array<String>>] :properties 
    # @option opts [String] :starting_after The ID of the user to start after.
    # @option opts [String] :ending_before The ID of the user to end before.
    # @option opts [String] :expand Specify additional data to retrieve. Use \&quot;organizations\&quot; and/or \&quot;identities\&quot;.
    # @return [SearchUsersResponse]
    def search_users(opts = {})
      data, _status_code, _headers = search_users_with_http_info(opts)
      data
    end

    # Search users
    # Search for users based on the provided query string. Set query to &#39;*&#39; to filter by other parameters only. The number of records to return at a time can be controlled using the &#x60;page_size&#x60; query string parameter.  &lt;div&gt;   &lt;code&gt;read:users&lt;/code&gt; &lt;/div&gt; 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of results per page. Defaults to 10 if parameter not sent.
    # @option opts [String] :query Search the users by email or name. Use &#39;*&#39; to search all.
    # @option opts [Hash<String, Array<String>>] :properties 
    # @option opts [String] :starting_after The ID of the user to start after.
    # @option opts [String] :ending_before The ID of the user to end before.
    # @option opts [String] :expand Specify additional data to retrieve. Use \&quot;organizations\&quot; and/or \&quot;identities\&quot;.
    # @return [Array<(SearchUsersResponse, Integer, Hash)>] SearchUsersResponse data, response status code and response headers
    def search_users_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_users ...'
      end
      # resource path
      local_var_path = '/api/v1/search/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'properties'] = opts[:'properties'] if !opts[:'properties'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchUsersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['kindeBearerAuth']

      new_options = opts.merge(
        :operation => :"SearchApi.search_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
